body {
    background-color:lavender;
    color:black;
  }
  .box{
    display: flex;
    padding: 2rem;

    margin-left: 3rem;
    margin-right: 3rem;
  }
   .cont{
    padding: 4rem;
    margin-top: 3rem;
    margin-left: 2rem;
    position: sticky;
    top: 0;
  }
  .announce {
    display: flex;
    flex-direction: column;
  }
  .row {
    flex: 1;
    width: 25 rem;
    padding: 10px;
    border: 1px solid #000;
    Margin:0rem;
    border-collapse: collapse;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .clubs {
    display: flex;
    flex-direction: column;
  }


  .intro{
    display:flex;
    height:40vh;
    margin-top:6rem;
    column-gap: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
}
.i-left{
    display:flex;
    position:relative;
    flex:1;
    flex-direction:column;

}
.i-left>:nth-child(1){
    color:black;
    font-weight:bold;
    font-size:3rem;
}
.i-left>:nth-child(2){
    color:rgb(92, 74, 109);
    font-weight:bold;
    font-size:3rem;
}
.i-left>:nth-child(3){
    color:rgb(66, 65, 65);
    font-weight:100;
    font-size:14px;
    margin-top: 10px;
}
.i-right {

    position: relative;
    background-size: 100%;
}


.student{
  margin-right: 10rem;
}
.facul{
  margin-left: 20rem;
}
